@model IEnumerable<skill.Models.AppConfig>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>App Config</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Appkey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Appkey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AppConfigId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AppConfigId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AppConfigId })
        </td>
    </tr>
}

</table>
