@model IEnumerable<skill.Models.CourseMst>

<div class="recent-cause pd-top-80 pd-bottom-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="section-title">Recent course <i class="fa fa-flag"></i></h2>
            </div>
            @foreach (var item in Model)
            {
                var startDate = item.StartDate != null ? item.StartDate.Value.ToString("dd MMM yyyy") : string.Empty;
                var endDate = item.StartDate != null ? item.EndDate.Value.ToString("dd MMM yyyy") : string.Empty;
                decimal _courseFees = item.CourseFee != null ? item.CourseFee.Value : 0;
                var courseFees = String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:C}", _courseFees);

                <div class="col-sm-4 recent-cause-list">
                    <img alt="cause" src="images/causes/140140auto.png">
                    <div class="recent-cause-summary">
                        <div class="recent-cause-content">
                            <h3 class="recent-cause-title"><a href="#">@item.CourseName</a></h3>
                            <div class="cause-location"><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Training by,</a> <a href="#">@item.TrainerMst.Name</a></div>
                            <div class="cause-tags"><i class="fa fa-tags" aria-hidden="true"></i> <a href="#">Training duration: @startDate to @endDate</a> </div>
                            <div class="cause-location"><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Price: @courseFees</a></div>
                            @*<a href="~/CourseDetails?id=@item.CourseId" class="btn mg-top-40">Course Details</a>*@
                            @Html.ActionLink("Course Details", "CourseDetails", new { id = item.CourseId }, new { @class = "btn mg-top-40" })


                        </div>
                        <div class="recent-cause-funding">
                            <div class="fund-line">
                                <div class="fill" style="height: 56%;"></div>
                            </div>
                            <div class="fund-percent">56%</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
