
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="http://www.urbanui.com/wunder/assets/vendors/material.min.css" rel="stylesheet" />*@
<!--  Material Dashboard CSS    -->
<link href="http://www.urbanui.com/wunder/assets/css/wunder.css" rel="stylesheet" />
<!--  CSS for Demo Purpose, don't include it in your project     -->
<link href="http://www.urbanui.com/wunder/assets/css/demo.css" rel="stylesheet" />
<!--     Fonts and icons     -->
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
<link href="http://www.urbanui.com/wunder/assets/vendors/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">


<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col-lg-4 pr-lg-5 dashboard-demo-graph">
                        <h4 class="card-title">Course-wise Admission</h4>
                        <p class="category mb-3">
                            Your top performing products.
                        </p>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Android Training</td>
                                        <td class="text-right">
                                            292
                                        </td>
                                        <td class="text-right">
                                            53.23%
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>WCF Development</td>
                                        <td class="text-right">
                                            130
                                        </td>
                                        <td class="text-right">
                                            20.43%
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>MVC Training</td>
                                        <td class="text-right">
                                            76
                                        </td>
                                        <td class="text-right">
                                            10.35%
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Data Dog</td>
                                        <td class="text-right">
                                            69
                                        </td>
                                        <td class="text-right">
                                            7.87%
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Visual C++</td>
                                        <td class="text-right">
                                            60
                                        </td>
                                        <td class="text-right">
                                            5.94%
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-5 pl-lg-5 pr-lg-5 dashboard-demo-graph">
                        <h4 class="card-title">Weekly Addmission Trend</h4>
                        <p class="category mb-3">
                            See how you performed in the past week.
                        </p>
                        <div class="chart-edge">
                            <div id="area-chart" class="demo-placeholder" style="padding: 0px; position: relative;"><canvas class="flot-base" width="351" height="220" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 351.828px; height: 220px;"></canvas><canvas class="flot-overlay" width="351" height="220" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 351.828px; height: 220px;"></canvas></div>
                        </div>
                    </div>
                    <div class="col-lg-3 pl-lg-5 pr-lg-3">
                        <div class="statistic-box">
                            <h4 class="card-title">
                                Addmission - Region-wise
                            </h4>
                            <p class="category mb-3">
                                Compare addmission by region.
                            </p>
                            <div class="row text-center">
                                <div class="col-xl-12">
                                    <div id="dash1-sales-chart" class="chart mb-4">
                                        <iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                                        <canvas id="doughnutChart" height="195" width="195" style="display: block; width: 195px; height: 195px;"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="card" style="min-height: 465px">
                    <div class="card-header card-header-icon">
                        <i class="material-icons">timeline</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title ">
                            Sales Trend
                        </h4>
                        <div class="table-tasks table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <tr>
                                        <th>Domain</th>
                                        <th>Status</th>
                                        <th>Auto Renewal</th>
                                        <th>Expiry Date</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>abcd.com</td>
                                        <td><span class="badge badge-success">Active</span></td>
                                        <td>
                                            <label class="checkbox">
                                                <input type="checkbox" value="" data-toggle="checkbox">
                                            </label>
                                        </td>
                                        <td>Mar 7, 2018</td>
                                        <td><button class="btn btn-info btn-fill btn-sm">Manage</button></td>
                                    </tr>
                                    <tr>
                                        <td>abcd.com</td>
                                        <td><span class="badge badge-success">Active</span></td>
                                        <td>
                                            <label class="checkbox">
                                                <input type="checkbox" value="" data-toggle="checkbox">
                                            </label>
                                        </td>
                                        <td>Mar 7, 2018</td>
                                        <td><button class="btn btn-info btn-fill btn-sm">Manage</button></td>
                                    </tr>
                                    <tr>
                                        <td>abcd.com</td>
                                        <td><span class="badge badge-success">Active</span></td>
                                        <td>
                                            <label class="checkbox">
                                                <input type="checkbox" value="" data-toggle="checkbox">
                                            </label>
                                        </td>
                                        <td>Mar 7, 2018</td>
                                        <td><button class="btn btn-info btn-fill btn-sm">Manage</button></td>
                                    </tr>
                                    <tr>
                                        <td>abcd.com</td>
                                        <td><span class="badge badge-danger">Expired</span></td>
                                        <td>
                                            <label class="checkbox">
                                                <input type="checkbox" value="" data-toggle="checkbox">
                                            </label>
                                        </td>
                                        <td>Mar 7, 2018</td>
                                        <td><button class="btn btn-info btn-fill btn-sm">Manage</button></td>
                                    </tr>
                                    <tr>
                                        <td>abcd.com</td>
                                        <td><span class="badge badge-danger">Expired</span></td>
                                        <td>
                                            <label class="checkbox">
                                                <input type="checkbox" value="" data-toggle="checkbox">
                                            </label>
                                        </td>
                                        <td>Mar 7, 2018</td>
                                        <td><button class="btn btn-info btn-fill btn-sm">Manage</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="min-height: 465px">
                    <div class="card-header">
                        <h4 class="card-title float-left">Task List</h4>
                        <div class="dropdown float-right">
                            <button type="button " class="btn btn-round btn-info dropdown-toggle mt-1" data-toggle="dropdown">
                                <i class="material-icons ">build</i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <a href="#action" class="dropdown-item">Action</a>
                                <a href="#action" class="dropdown-item">Another action</a>
                                <a href="#here" class="dropdown-item">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a href="#link" class="dropdown-item">Separated link</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <table class="table table-top-aligned">
                            <tbody>
                                <tr>
                                    <td class="p-l-8">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="optionsCheckboxes" checked="">
                                            </label>
                                        </div>
                                    </td>
                                    <td>Create Annual Training Plan. Get it reviewed by Mike</td>
                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="" class="btn btn-primary btn-simple btn-xs " data-original-title="Edit Task">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs " data-original-title="Remove ">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-l-8">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="optionsCheckboxes ">
                                            </label>
                                        </div>
                                    </td>
                                    <td>Create Tutorials for Induction Training</td>
                                    <td class="td-actions text-right ">
                                        <button type="button" rel="tooltip " title="Edit Task " class="btn btn-primary btn-simple btn-xs ">
                                            <i class="material-icons ">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip " title="Remove " class="btn btn-danger btn-simple btn-xs ">
                                            <i class="material-icons ">close</i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-l-8">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="optionsCheckboxes ">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        Complete wireframe for HR Portal by end of December
                                    </td>
                                    <td class="td-actions text-right ">
                                        <button type="button" rel="tooltip " title="Edit Task " class="btn btn-primary btn-simple btn-xs ">
                                            <i class="material-icons ">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip " title="Remove " class="btn btn-danger btn-simple btn-xs ">
                                            <i class="material-icons ">close</i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-l-8">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="optionsCheckboxes " checked="">
                                            </label>
                                        </div>
                                    </td>
                                    <td>Recruit five developers and get them trained on the new project</td>
                                    <td class="td-actions text-right ">
                                        <button type="button" rel="tooltip " title="Edit Task " class="btn btn-primary btn-simple btn-xs ">
                                            <i class="material-icons ">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip " title="Remove " class="btn btn-danger btn-simple btn-xs ">
                                            <i class="material-icons ">close</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-8 col-md-12 ">
                <div class="card " style="min-height: 495px">
                    <div class="card-header card-header-text ">
                        <h4 class="card-title ">Candidate Stats</h4>
                        <p class="category ">New candidate on 15th May, 2017</p>
                    </div>
                    <div class="card-content table-responsive ">
                        <table class="table table-hover ">
                            <thead class="text-primary">
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Fees(Paid)</th>
                                    <th>Country</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Bob Williams</td>
                                    <td>$23,566</td>
                                    <td>USA</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Mike Tyson</td>
                                    <td>$10,200</td>
                                    <td>Canada</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Tim Sebastian</td>
                                    <td>$32,190</td>
                                    <td>Netherlands</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Philip Morris</td>
                                    <td>$31,123</td>
                                    <td>Korea, South</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Minerva Hooper</td>
                                    <td>$23,789</td>
                                    <td>South Africa</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Hulk Hogan</td>
                                    <td>$43,120</td>
                                    <td>Netherlands</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Angelina Jolie </td>
                                    <td>$12,140</td>
                                    <td>Australia</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 ">
                <div class="card " style="min-height: 495px ">
                    <div class="card-header ">
                        <h4 class="card-title ">Activities</h4>
                    </div>
                    <div class="card-content ">
                        <div class="streamline ">
                            <div class="sl-item sl-primary ">
                                <div class="sl-content ">
                                    <small class="text-muted ">5 mins ago</small>
                                    <p>Williams has just joined Project X</p>
                                </div>
                            </div>
                            <div class="sl-item sl-danger ">
                                <div class="sl-content ">
                                    <small class="text-muted ">25 mins ago</small>
                                    <p>Jane has sent a request for access to the project folder</p>
                                </div>
                            </div>
                            <div class="sl-item sl-success ">
                                <div class="sl-content ">
                                    <small class="text-muted ">40 mins ago</small>
                                    <p>Kate added you to her team</p>
                                </div>
                            </div>
                            <div class="sl-item ">
                                <div class="sl-content ">
                                    <small class="text-muted ">45 minutes ago</small>
                                    <p>John has finished his task</p>
                                </div>
                            </div>
                            <div class="sl-item sl-warning ">
                                <div class="sl-content ">
                                    <small class="text-muted ">55 mins ago</small>
                                    <p>Jim shared a folder with you</p>
                                </div>
                            </div>
                            <div class="sl-item ">
                                <div class="sl-content ">
                                    <small class="text-muted ">60 minutes ago</small>
                                    <p>John has finished his task</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12 ">
                <div class="card ">
                    <div class="card-header card-header-icon ">
                        <i class="material-icons ">language</i>
                    </div>
                    <div class="card-content ">
                        <h4 class="card-title ">Global Sales by Top Locations</h4>
                        <div class="row ">
                            <div class="col-lg-5 ">
                                <div class="table-responsive">
                                    <table class="table ">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="flag ">
                                                        <img src="http://www.urbanui.com/wunder/assets/img/flags/US.png ">
                                                    </div>
                                                </td>
                                                <td>USA</td>
                                                <td class="text-right ">
                                                    2.920
                                                </td>
                                                <td class="text-right ">
                                                    53.23%
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="flag ">
                                                        <img src="http://www.urbanui.com/wunder/assets/img/flags/DE.png ">
                                                    </div>
                                                </td>
                                                <td>Germany</td>
                                                <td class="text-right ">
                                                    1.300
                                                </td>
                                                <td class="text-right ">
                                                    20.43%
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="flag ">
                                                        <img src="http://www.urbanui.com/wunder/assets/img/flags/AU.png ">
                                                    </div>
                                                </td>
                                                <td>Australia</td>
                                                <td class="text-right ">
                                                    760
                                                </td>
                                                <td class="text-right ">
                                                    10.35%
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="flag ">
                                                        <img src="http://www.urbanui.com/wunder/assets/img/flags/GB.png ">
                                                    </div>
                                                </td>
                                                <td>United Kingdom</td>
                                                <td class="text-right ">
                                                    690
                                                </td>
                                                <td class="text-right ">
                                                    7.87%
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="flag ">
                                                        <img src="http://www.urbanui.com/wunder/assets/img/flags/RO.png ">
                                                    </div>
                                                </td>
                                                <td>Romania</td>
                                                <td class="text-right ">
                                                    600
                                                </td>
                                                <td class="text-right ">
                                                    5.94%
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="flag ">
                                                        <img src="http://www.urbanui.com/wunder/assets/img/flags/BR.png ">
                                                    </div>
                                                </td>
                                                <td>Brasil</td>
                                                <td class="text-right ">
                                                    550
                                                </td>
                                                <td class="text-right ">
                                                    4.34%
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-6 offset-lg-1 ">
                                <div id="worldMap" class="map">
                             
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <ul style="display:none">
        <li>@Html.ActionLink("Home Page", "Index", "Home")</li>


        <li>@Html.ActionLink("App Configs", "Index", "AppConfigs")</li>
        <li>@Html.ActionLink("Branch Masters", "Index", "BranchMsts")</li>
        <li>@Html.ActionLink("Candidate Attendances", "Index", "CandidateAttendances")</li>
        <li>@Html.ActionLink("Candidate Documents", "Index", "CandidateDocuments")</li>
        <li>@Html.ActionLink("Candidate Job Masters", "Index", "CandidateJobMasters")</li>
        <li>@Html.ActionLink("Candidate Languages", "Index", "CandidateLanguages")</li>
        <li>@Html.ActionLink("Category Masters", "Index", "CategoryMasters")</li>
        <li>@Html.ActionLink("City Masters", "Index", "CityMasters")</li>
        <li>@Html.ActionLink("Compnay Masters", "Index", "CompnayMasters")</li>
        <li>@Html.ActionLink("Contact Us", "Index", "Contactus")</li>
        <li>@Html.ActionLink("Course Document Mappings", "Index", "CourseDocumentMappings")</li>
        <li>@Html.ActionLink("Course Masters", "Index", "CourseMasters")</li>
        <li>@Html.ActionLink("Course Payment Details", "Index", "CoursePaymentDetails")</li>
        <li>@Html.ActionLink("Course Registration Details", "Index", "CourseRegistrationDetails")</li>
        <li>@Html.ActionLink("District Masters", "Index", "DistrictMasters")</li>
        <li>@Html.ActionLink("Document Masters", "Index", "DocumentMasters")</li>
        <li>@Html.ActionLink("Language Masters", "Index", "LanguageMasters")</li>
        <li>@Html.ActionLink("Menu Masters", "Index", "menuMasters")</li>
        <li>@Html.ActionLink("Registration Masters", "Index", "RegistrationMasters")</li>
        <li>@Html.ActionLink("Role Masters", "Index", "roleMasters")</li>
        <li>@Html.ActionLink("Role Menu Mappings", "Index", "roleMenuMappings")</li>
        <li>@Html.ActionLink("Site Configs", "Index", "SiteConfigs")</li>
        <li>@Html.ActionLink("State Masters", "Index", "StateMasters")</li>
        <li>@Html.ActionLink("Template Masters", "Index", "templateMasters")</li>
        <li>@Html.ActionLink("Trainer Masters", "Index", "TrainerMasters")</li>
        <li>@Html.ActionLink("User Masters", "Index", "UserMasters")</li>
        <li>@Html.ActionLink("User Roles", "Index", "userRoles")</li>
    </ul>
</div>

<!--   Core JS Files   -->
<script src="http://www.urbanui.com/wunder/assets/vendors/jquery-3.1.1.min.js " type="text/javascript "></script>
<script src="http://www.urbanui.com/wunder/assets/vendors/jquery-ui.min.js " type="text/javascript "></script>
<script src="http://www.urbanui.com/wunder/assets/vendors/tether.min.js" type="text/javascript"></script>
<script src="http://www.urbanui.com/wunder/assets/vendors/bootstrap.min.js " type="text/javascript "></script>
<script src="http://www.urbanui.com/wunder/assets/vendors/perfect-scrollbar.jquery.min.js " type="text/javascript "></script>
<!-- Forms Validations Plugin -->
<script src="http://www.urbanui.com/wunder/assets/vendors/jquery.validate.min.js "></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="http://www.urbanui.com/wunder/assets/vendors/moment.min.js "></script>
<!--  Charts Plugin -->
<script src="http://www.urbanui.com/wunder/assets/vendors/charts/flot/jquery.flot.js "></script>
<script src="http://www.urbanui.com/wunder/assets/vendors/charts/flot/jquery.flot.resize.js "></script>
<script src="http://www.urbanui.com/wunder/assets/vendors/charts/flot/jquery.flot.pie.js "></script>
<script src="http://www.urbanui.com/wunder/assets/vendors/charts/flot/jquery.flot.stack.js "></script>
<script src="http://www.urbanui.com/wunder/assets/vendors/charts/flot/jquery.flot.categories.js "></script>
<script src="http://www.urbanui.com/wunder/assets/vendors/charts/chartjs/Chart.min.js " type="text/javascript "></script>

<!--  Plugin for the Wizard -->
<script src="http://www.urbanui.com/wunder/assets/vendors/jquery.bootstrap-wizard.js "></script>
<!--  Notifications Plugin    -->
<script src="http://www.urbanui.com/wunder/assets/vendors/bootstrap-notify.js "></script>
<!-- DateTimePicker Plugin -->
<script src="http://www.urbanui.com/wunder/assets/vendors/bootstrap-datetimepicker.js "></script>
<!-- Vector Map plugin -->
<script src="http://www.urbanui.com/wunder/assets/vendors/jquery-jvectormap.js "></script>
<!-- Sliders Plugin -->
<script src="http://www.urbanui.com/wunder/assets/vendors/nouislider.min.js "></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js"></script>
<!-- Select Plugin -->
<script src="http://www.urbanui.com/wunder/assets/vendors/jquery.select-bootstrap.js "></script>
<!-- Sweet Alert 2 plugin -->
<script src="http://www.urbanui.com/wunder/assets/vendors/sweetalert/sweetalert2.min.js"></script>
<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="http://www.urbanui.com/wunder/assets/vendors/jasny-bootstrap.min.js "></script>
<!--  Full Calendar Plugin    -->
<script src="http://www.urbanui.com/wunder/assets/vendors/fullcalendar.min.js "></script>
<!-- TagsInput Plugin -->
<script src="http://www.urbanui.com/wunder/assets/vendors/jquery.tagsinput.js "></script>
<!-- Material Dashboard javascript methods -->
<script src="http://www.urbanui.com/wunder/assets/js/wunder.min.js "></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="http://www.urbanui.com/wunder/assets/js/demo.min.js "></script>
<script src="http://www.urbanui.com/wunder/assets/js/charts/flot-charts.min.js "></script>
<script src="http://www.urbanui.com/wunder/assets/js/charts/chartjs-charts.min.js "></script>


