@model skill.Models.CompnayMstModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Company Master</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "CompnayMasters", FormMethod.Post))
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompnayMst[0].CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompnayMst[0].CompanyAbb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompnayMst[0].Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompnayMst[0].Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompnayMst[0].ContantNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompnayMst[0].IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompnayMst[0].IsDeleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.CompnayMst) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyAbb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContantNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CopmanyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CopmanyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CopmanyId })
        </td>
    </tr>
}

</table>
<table class="pager-table" cellpadding="0" cellspacing="0">
    <tr>
        @for (int i = 1; i <= Model.PageCount; i++)
            {
            <td>
                @if (i != Model.CurrentPageIndex)
                {
                    <a href="javascript:PagerClick(@i);">@i</a>
                }
                else
                {
                    <span>@i</span>
                }
            </td>
        }
    </tr>
</table>
<input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />
}
<script type="text/javascript">
    function PagerClick(index) {
        document.getElementById("hfCurrentPageIndex").value = index;
        document.forms[0].submit();
    }
</script>
<style type="text/css">
    .pager-table td {
        padding: 4px;
    }
</style>
