@model skill.Models.CityMstsModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "CityMasters", FormMethod.Post))
{
    <table class="table">
        <tr>
            <th>
                District
            </th>
            <th>
                City Name
            </th>
            <th>
                Pincode
            </th>
            <th>
                IsActive
            </th>
            <th>
                IsDeleted 
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.CityMst)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DistrictId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pincode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CityId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CityId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CityId })
                </td>
            </tr>
        }

    </table>
    <table class="pager-table" cellpadding="0" cellspacing="0">
        <tr>
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <td>
                    @if (i != Model.CurrentPageIndex)
                    {
                        <a href="javascript:PagerClick(@i);">@i</a>
                    }
                    else
                    {
                        <span>@i</span>
                    }
                </td>
            }
        </tr>
    </table>
    <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />
}
<script type="text/javascript">
    function PagerClick(index) {
        document.getElementById("hfCurrentPageIndex").value = index;
        document.forms[0].submit();
    }
</script>
<style type="text/css">
    .pager-table td {
        padding: 4px;
    }
</style>
