@model skill.Models.BranchMstsModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Branch Master</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "BranchMsts", FormMethod.Post))
{
    <table class="table" id="tblgrid">
        <tr>
            <th>
                City Name
            </th>
            <th>
                Branch Name
            </th>
            <th>
                BranchAddress
            </th>
            <th>
                Email
            </th>
            <th>
               Mobile No.
            </th>
            <th>
                IsActive
            </th>
            <th>
               IsDeleted
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.BranchMst)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CityMst.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.BranchId }) |
            @Html.ActionLink("Details", "Details", new { id = item.BranchId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BranchId })
        </td>
    </tr>
    }

    </table>
    <table class="pager-table" cellpadding="0" cellspacing="0">
        <tr>
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <td>
                    @if (i != Model.CurrentPageIndex)
                    {
                        <a href="javascript:PagerClick(@i);">@i</a>
                    }
                    else
                    {
                        <span>@i</span>
                    }
                </td>
            }
        </tr>
    </table>
    <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />
}
<script type="text/javascript">
    function PagerClick(index) {
        document.getElementById("hfCurrentPageIndex").value = index;
        document.forms[0].submit();
    }
</script>
<style type="text/css">
    .pager-table td{
        padding:4px;
    }
</style>